# Database
DATABASE_URL="postgresql://user:password@localhost:5432/guarany_fc"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Evolution API
EVOLUTION_API_URL="https://evolution.creativenext.com.br"
EVOLUTION_API_KEY="7F572122F0FF-4E8F-8F5E-418EEBD58975"
EVOLUTION_INSTANCE="GUARANYFC"

# Cron Security
CRON_SECRET="generate-random-secret"

# App
NODE_ENV="development"
NEXT_PUBLIC_APP_NAME="Guarany FC"
